@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

.main {
  background-image: url("assets/images/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: (1200px, 100vw);
  height: 70vh;
  position: relative;
}

.main .box {
  background-color: black;
  height: 70vh;
  width: 100%;
  opacity: 0.69;
  position: absolute;
  top: 0;
}

nav {
  width: 60vw;
  margin: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 100px;
}

nav img {
  width: 130px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: white;
  gap: 23px;
  padding: 0 30px;
}

.hero > :nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 48px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.separation {
  height: 7px;
  background-color: rgb(66, 65, 65);
  position: relative;
  z-index: 20;
}

.btn {
  padding: 3px 8px;
  font-weight: 400;
  color: white;
  background-color: rgba(248, 243, 243, 0.021);
  border-radius: 4px;
  border: 2px solid white;
  cursor: pointer;
}

.btn-red {
  background-color: red;
  color: white;
  padding: 3 24px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 4px;
}

.btn-red-sm {
  background-color: red;
  color: white;
}

.main input {
  padding: 7px 101px 8px 14px;
  color: white;
  font-weight: 900;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.2);
  border: 2px solid rgb(255, 255, 255, 0.5);
}

.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: auto;
  color: white;
}

.secImg {
  position: relative;
}

.secImg img {
  width: 555px;
  position: relative;
  z-index: 10;
}

.secImg video {
  position: absolute;
  top: 51px;
  right: 0;
  width: 555px;
}

.first div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}

.first > div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
}

.first > div :nth-child(2) {
  font-size: 24px;
  font-weight: bolder;
}

.faq {
  background: black;
  color: white;
  padding: 32px;
}

.faq h2 {
  text-align: center;
  font-size: 48px;
}

.faqbox:hover {
  background-color: #414141;
}

.faqbox {
  transition: all 1s ease-out;
  display: flex;
  justify-content: space-between;
  /* border-radius: 7px; */
  background-color: #2d2d2d;
  padding: 24px;
  width: 60vw;
  margin: 34px auto;
  cursor: pointer;
  font-size: 24px;
}

footer {
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 14px;
}

.questions {
  padding: 34px 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}

@media screen and (max-width: 1300px) {
  nav {
    width: 90vw;
  }
  .first {
    flex-wrap: wrap;
  }
  .secImg img {
    width: 305px;
  }
  .secImg video {
    width: 305px;
  }
  .hero > :nth-child(1) {
    font-size: 32px;
  }
  .hero > :nth-child(2) {
    font-size: 18px;
  }
  .hero > :nth-child(3) {
    font-size: 18px;
  }
  .hero-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}

@media screen and (max-width: 1300px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  .faq h2 {
    text-align: center;
    font-size: 32px;
  }
  footer {
    max-width: 90vw;
  }
  .footer-item {
    align-items: center;
  }
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.footer a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}
